<div class="panel panel-default">
	<div class="panel-body">
		<form name="filtrar" ng-submit="filtrarRetro()">
			<div class="col-lg-4">
				<div class="form-group">
					<label>Supervisor</label>
					<select name="selectSupervisor" id="selectSupervisor" ng-model="formRetro.selectSupervisor" class="form-control" required>
						<option value="" disabled selected>Seleccione</option>
						<option ng-repeat="supervisor in listaSupervisor | orderBy:'supervisor'" value="{{supervisor.id_vici}}">{{supervisor.supervisor}}</option>
					</select>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="form-group">
					<label>Periodo</label>
					<div class="input-daterange input-group datepicker">
						<input type="text" class="form-control" ng-model="formRetro.date_begin" name="start" required>
						<span class="input-group-addon panel"><li class="fa fa-calendar"></li></span>
						<input type="text" class="form-control" ng-model="formRetro.date_end" name="end" required>
					</div>
				</div>
			</div>
			<div class="col-g-4">
				<button type="submit" class="btn btn-danger col-lg-2" style="margin-top: 28px; margin-left: 70px;">Filtrar</button>
			</div>
		</form>
	</div>
</div>
<script type="text/javascript">
	$('.datepicker').datepicker({
		language:"es",
		daysOfWeekHighlighted: "0,6",
		todayHighlight: true,
		endDate: new Date(),
		format: 'dd/mm/yyyy'
	});
</script>