<table id='tabla' class="table row-border order-column table-condensed compact table-bordered table-responsive" cellspacing="0" width="100%">
	<thead>
		<tr class="colorOptimiza">
			<th class="text-center">Nombre</th>
			<th class="text-center">Base</th>
			<th class="text-center">Horas</th>
			<th class="text-center">Semana corrida</th>
			<th class="text-center">Acciones</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="co in contratos">
			<td>{{co.contrato_nombre}}</td>
			<td class="text-center">{{co.contraro_base}}</td>
			<td class="text-center">{{co.contrato_horas}}</td>
			<td class="text-center">
				<button ng-if="co.contrato_semana_corrida==0" class="btn btn-default btn-circle" type="button" title="Habilitar semana corrida" ng-click="semanaCorrida('activar',co);">
					<i class="fa fa-check" style="color: #146E19"></i>
				</button>
				<button ng-if="co.contrato_semana_corrida==1" class="btn btn-default btn-circle" type="button" title="Deshabilitar semana corrida" ng-click="semanaCorrida('desactivar',co);">
					<i class="fa fa-times" style="color: #C30606"></i>
				</button>
			</td>
			<td class="text-center">
				<button ng-if="co.ind_vigente==0" class="btn btn-default btn-circle" type="button" title="Activar contrato" ng-click="cambiarEstado('activar',co);">
					<i class="fa fa-check" style="color: #146E19"></i>
				</button>
				<button ng-if="co.ind_vigente==1" class="btn btn-default btn-circle" type="button" title="Desactivar contrato" ng-click="cambiarEstado('desactivar',co);">
					<i class="fa fa-times" style="color: #C30606"></i>
				</button>
			</td>
		</tr>
	</tbody>
</table>