<div id="form-editar" class="modal fade" role="dialog">
    <form name="formulario" ng-submit="guardarEstandar()">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title text-capitalize">{{form.modo}} evaluación</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Tipo</label>
                                <select name="tiev_id_tipo_evaluacion" class="form-control" ng-model="form.tiev_id_tipo_evaluacion" required>
                                	<option value="" disabled>Seleccione</option>
                                	<option ng-repeat="lis in listaTipoEvaluacion" value="{{lis.tiev_id_tipo_evaluacion}}">{{lis.tiev_descripcion}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <label>Estándar</label>
                            <div class="form-group">
                                <select name="ties_id_tipo_estandar" ng-model="form.ties_id_tipo_estandar" class="form-control" required>
                                    <option value="" disabled>Seleccione</option>
                                    <option ng-repeat="lis in listaTipoEstandar" value="{{lis.ties_id_tipo_estandar}}">{{lis.ties_descripcion}}</option>
                                </select>
                            </div>
                        </div>
						<div class="col-lg-3">
                            <label>Estado</label>
                            <div class="form-group">
                                <select name="es_estado" ng-model="form.es_estado" class="form-control" required>
                                    <option value="" disabled>Seleccione</option>
                                    <option value="1">Habilitado</option>
                                    <option value="0">Deshabilitado</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <label>Valor</label>
                            <div ng-if="form.ties_id_tipo_estandar==1" class="input-group bootstrap-timepicker timepicker">
                                <input type="text" class="form-control timepick" ng-model="form.es_valor_estandar" required>
                                <span class="input-group-addon panel"><i class="fa fa-clock-o" aria-hidden="true"></i></span>
                                <script type="text/javascript">
                                   $('.timepick').timepicker({
                                    minuteStep: 15,
                                    showInputs: false,
                                    disableFocus: true,
                                    showMeridian: false
                                });
                                </script>
                            </div>
                            <div class="form-group" ng-if="form.ties_id_tipo_estandar==2">
                                <input type="number" ng-model="form.es_valor_estandar" class="form-control" min="0" max="100" required>
                            </div>
                           <div class="form-group" ng-if="form.ties_id_tipo_estandar==3">
                                <b>Sí - No</b>
                            </div>
                            <div class="form-group" ng-if="form.ties_id_tipo_estandar==4">
                                <b>1,2,3,4,5</b>
                            </div>
                            <div class="form-group" ng-if="form.ties_id_tipo_estandar==5">
                                <b>No aplica</b>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3">
                            <label>Etapa</label>
                            <div class="form-group">
                                <select name="et_id_etapa" ng-model="form.et_id_etapa" class="form-control" required>
                                    <option value="" disabled>Seleccione</option>
                                    <option ng-repeat="lis in listaEtapa" value="{{lis.et_id_etapa}}">{{lis.et_descripcion}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Fecha inicio</label>
                                <div class="form-inline input-group">
                                    <input type="text" id="es_fecha_inicio" class="form-control datepicker" ng-model="form.es_fecha_inicio" name="es_fecha_inicio" required>
                                    <span class="input-group-addon"><li class="fa fa-calendar"></li></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <label>Fecha fin</label>
                            <div class="form-inline input-group">
                                <input type="text" id="es_fecha_fin" class="form-control datepicker" ng-model="form.es_fecha_fin" name="es_fecha_fin">
                                <span class="input-group-addon"><li class="fa fa-calendar"></li></span>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-danger">Guardar</button>
                        <button type="button" class="btn btn-error cerrarModal" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">
    $('.datepicker').datepicker({
        language:"es",
        daysOfWeekHighlighted: "0,6",
        todayHighlight: true
    });
</script>