<div id="formFeriado" class="modal fade" role="dialog">
    <form name="filtrar" ng-submit="agregarFeriado()">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Feriado</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-4">
                            <label>Fecha inicio</label>
                            <div class="form-inline input-group">
                            <input type="text" id="date" class="form-control datepicker" ng-model="formFeriado.date" name="start" required>
                            <span class="input-group-addon"><li class="fa fa-calendar"></li></span>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Descripción</label>
                                <input type="text" name="descripcion" id="descripcion" min="0" ng-model="formFeriado.descripcion" class="form-control" required>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <label>¿Es irrenunciable?</label>
                            <div class="form-group">
                                <select name="irrenunciable" class="form-control" ng-model="formFeriado.irrenunciable" required>
                                    <option value="">Seleccione</option>
                                    <option value="1">Sí</option>
                                    <option value="0">No</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger">Guardar</button>
                    <button id="cerrarModal" type="button" class="btn btn-error" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">
    $('.datepicker').datepicker({
        language:"es",
        daysOfWeekHighlighted: "0,6",
        todayHighlight: true
    });
</script>