<table class="table table-striped table-bordered" id="tablaDomo" cellspacing="0" width="100%">
	<thead>
		<tr>
			<th class="colorOptimiza" rowspan="3">Operador</th>
			<th class="colorOptimiza" colspan="{{sizeHoras}}" style="text-align:center;">{{fechaMonitor}}</th>
		</tr>
		<tr>
			<th class="colorOptimiza" ng-repeat="hora in horasMonitor" style="font-size:9px;text-align:center;" colspan="4">{{hora.label}}</th>
		</tr>
		<tr>
			<th class="colorOptimiza" ng-repeat="cuarto in cuartosMonitor" style="font-size:9px;">{{cuarto.label}}</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="user in listUsers">
			<td class="colorOptimiza2">{{user.user}}</td>
			<td ng-repeat="cuarto in cuartosMonitor">&nbsp;</td>
		</tr>
	</tbody>
</table>