<div id="modalBitacora" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Bitácora de <strong class="lead" style="font-weight:bold;font-size:23px;">{{operador_bitacora}}</strong> | supervisor: {{dataOperador.supervisor}}</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12" ng-if="isSupervisor">
                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modalAgregarBitacora" ng-click="mostrarAgregarBitacora()"><i class="fa fa-plus"></i> Agregar bitácora</button>
                        <button class="btn btn-default " type="button" title="Ver Horario" ng-click="mostrarHorario(dataOperador.user_id,operador_bitacora);"><i class="fa fa-calendar"></i> Ver horario</button> 
                    </div>
                    <div class="col-lg-12 table-responsive">
                        <div ng-include src="tablaBitacora"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-error" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>